# SL Fidelidad - 02_Join data and EDA

En esta notebook se analizan los tres dataframe generados y luego se los use en el df final.

In [47]:
import pandas as pd
import numpy as np
from pathlib import Path
import pickle

In [48]:
# seteo carpetas
BASE = Path().absolute().parent
RAW = Path(BASE/'raw')
DATA = Path(BASE/'data')

## Bases

- Socios: df_socios
- Abonos: df_abonos
- Eventos: df_eventos

In [49]:
# socios
df_socios = pickle.load( open( DATA/"df_socios.p", "rb" ) )
# abonos
df_abonos = pickle.load( open( DATA/"df_abonos.p", "rb" ) )
# eventos
df_eventos = pickle.load( open( DATA/"df_eventos.p", "rb" ) )

## Exploro bases

In [50]:
# variables
print(f'variables de df_socios: \n{df_socios.dtypes}\n')
print(f'variables de df_abonos: \n{df_abonos.dtypes}\n')
print(f'variables de df_eventos: \n{df_eventos.dtypes}\n')

variables de df_socios:
sexo                     object
tipo_socio               object
forma_pago               object
fecha_ingreso    datetime64[ns]
refunda                   int64
fecha_nac        datetime64[ns]
dtype: object

variables de df_abonos:
abo_bid_2020    float64
abo_bid_2021    float64
abo_pol_2020    float64
abo_pol_2021    float64
dtype: object

variables de df_eventos:
eve_2018    float64
eve_2019    float64
eve_2020    float64
dtype: object

In [43]:
# observaciones
# print(df_socios.shape)
# print(df_abonos.shape)
# print(df_eventos.shape)

In [51]:
# analisis de integridad
print(f'hay {df_abonos.shape[0] - sum([(i in df_socios.index) for i in df_abonos.index])} que estan en abonos y no en socios')
print(f'hay {df_eventos.shape[0] - sum([(i in df_socios.index) for i in df_eventos.index])} que estan en eventos y no en socios')

hay 4 que estan en abonos y no en socios
hay 5798 que estan en eventos y no en socios

In [52]:
eventos_socios = [(i, i in df_socios.index) for i in df_eventos.index]
eventos_nosoc = []
for i in eventos_socios:
    if i[1] == False:
        eventos_nosoc.append(i[0])

In [16]:
# eventos_nosoc

## Junto las bases

In [53]:
# junto las  tres tablas
df_fide = pd.merge( left=pd.merge(df_socios, df_abonos, how='left', left_index=True, right_index=True),
                    right=df_eventos, how='left', left_index=True, right_index=True)
df_fide.columns

Index(['sexo', 'tipo_socio', 'forma_pago', 'fecha_ingreso', 'refunda',
       'fecha_nac', 'abo_bid_2020', 'abo_bid_2021', 'abo_pol_2020',
       'abo_pol_2021', 'eve_2018', 'eve_2019', 'eve_2020'],
      dtype='object')

In [89]:
df_fide.head()

,sexo,tipo_socio,forma_pago,fecha_ingreso,refunda,fecha_nac,abo_bid_2020,abo_bid_2021,abo_pol_2020,abo_pol_2021,eve_2018,eve_2019,eve_2020
socio,,,,,,,,,,,,,
1,M,VITALICIO,EFECTIVO,1952-06-27,0,1950-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M,VITALICIO,EFECTIVO,1953-03-06,0,1953-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M,VITALICIO,EFECTIVO,1953-03-06,0,1904-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M,VITALICIO,EFECTIVO,1954-04-02,0,1913-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,M,VITALICIO,EFECTIVO,1954-04-02,0,1913-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Guardo base final

In [54]:
pickle.dump( df_fide, open( DATA/"df_fide.p", "wb" ) )